<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar" class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Menu Chính</li>
            <li><a class="" th:href="@{/admin/admin-home}" aria-expanded="false"><i class="fa-solid fa-house"></i><span class="nav-text">Dashboard</span></a>
               
            </li>
            <li class="nav-label">Quản lý</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="fa-brands fa-product-hunt"></i><span class="nav-text">Sản phẩm</span></a>
                <ul aria-expanded="false">
                    <li><a th:href="@{/admin/products}">Tất cả</a></li>
                    <li><a th:href="@{/admin/products/create}">Thêm mới</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="fa-solid fa-layer-group"></i><span class="nav-text">Danh mục</span></a>
                <ul aria-expanded="false">
                    <li><a th:href="@{/admin-category(action='index')}">Tất cả</a></li>
                    <li><a th:href="@{/admin-category(action='create')}">Thêm mới</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="fa-solid fa-users"></i><span class="nav-text">Người dùng</span></a>
                <ul aria-expanded="false">
                    <li><a th:href="@{/admin-user(action='index')}">Tất cả</a></li>
                    <li><a th:href="@{/admin-user(action='create')}">Thêm mới</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="fa-solid fa-cart-arrow-down"></i><span class="nav-text">Đơn hàng</span></a>
                <ul aria-expanded="false">
                    <li><a th:href="@{/admin-order(action='index')}">Tất cả</a></li>
                </ul>
            </li>
            
           
        </ul>
    </div>


</div>

</body>
</html>